.字体11 {
    font-size: 11px;
    opacity: 0.6;
}
.字体12 {
    font-size: 12px;
margin-top: 16px;
}
.字体15 {
    font-size: 15px;
    font-weight: bold;
}
.字体28 {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
}

.字体34 {
    font-size: 34px;
    font-weight: bold;
}
.字体54 {
    font-size: 54px;
    font-weight: bold;
}
.群组 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.卡片1 {
    height: 581px;
    border-radius: 24px;
    background-color: #F1F1F1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}